<ion-header class="ion-no-border">
  <img src="/assets/background.png" alt="" width="100%" height="100%">
</ion-header>

<ion-content color="primary">
    
  <ion-buttons id="language">
    <ion-button>
      Português
      <!-- <ion-icon slot="start" name=""></ion-icon> -->
    </ion-button>
    <ion-button>
      Español
      <!-- <ion-icon slot="start" name=""></ion-icon> -->
    </ion-button>
    <ion-button>

        <ion-select multiple="false" placeholder="More...">
        
       
       
          <ion-select-option value="peperoni">Peperoni</ion-select-option>
          <ion-select-option value="hawaii">Hawaii</ion-select-option>
        </ion-select>
     
      <!-- <ion-icon slot="start" name=""></ion-icon> -->
    </ion-button>
  </ion-buttons>


</ion-content>
