
  ion-content{
    display: flex;
    justify-content: center;

    ion-buttons{
      display: flex;
      justify-content: center;
      color:rgb(63, 63, 63);
      ion-select {
        --placeholder-color:rgb(0, 27, 146);
        --placeholder-opacity: 1;

        
      
      }
        ion-select::part(icon) {        
          opacity: 0;
        }

    
    }
  }  





